html, body {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  background-color: blue;
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.container2 {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header {
  background: url(https://i.imgur.com/3iawJV0.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
}
.header2 {
  background: url(https://i.imgur.com/qOLdyt0.png) no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 200px;
}

.header2 .container2 {
  position: relative;
  top: 200px;
}

.header h1 {
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.header2 h1 {
  color: 000000;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 200px;
  margin-top: 0;
  text-transform: uppercase;
}
.header2 h2 {
  color: #000000;
  font-size:20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 300px;
  text-align: center;
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}
.nav2 {
  background: url(https://i.imgur.com/RroFag5.png);
  height: 80px;
  width: 100%;
}

.nav2 ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav2 ul li {
  color: #fff;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.btn:hover, .nav2 ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}
